#container 
{
    display: flex;
    flex-direction: column !important;
    position: relative;
    height: auto;
}

#container > div {
    flex-wrap: wrap;
}

.heading {
    line-height: 2px !important;
    padding: 1em 0;
    text-decoration: underline;
    border-bottom: 5px ridge #000;
    /* outline-: 2px solid #699;
outline-offset: -9px; */
    width: fit-content;
    text-align: center;
}


.flex {
    display: flex;
    justify-content: center;
}

.row {
    flex-direction: row;
}

