@font-face { 
  font-family: scree;
  src: url('../fonts/Roboto-Regular.ttf');
}

* {
  font-family: scree, serif;
  line-height: 1.2;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
}

#container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

#container .contentRow {
  min-width: 100% !important;
  margin: 0 auto;
  top: 20vh;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-top: 1vh solid lightcoral;
}

/* HTML Selectors */
.clickable {
  text-decoration: none;
  margin: 0.5em; 
  padding: 0.5em; 
  border-radius: 10px; 
  color: white; 
  background-color: #891652; 
  border: 1px solid whitesmoke; 
}

/* a:hover {
  background-color: #EABDD8;
  color: #240a34;
  --webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
  border: 1px solid #000;

} */

p {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
}

br {
  height: 20px;
  background-color: black;;
}

hr {
  width: 2em;
  background-color: purple;
}

h2 {
  font-size: 1.5rem;
  text-decoration: underline;
}

h2 + p, p + p {
  text-align: justify;
}

#article2 strong {
  font-weight: 300;
  color: lightslategray;
  text-decoration: underline;
}

#article3 strong {
  font-weight: 600;
  color: rgba( 224,224, 224, 1)
  ;
}

.flex {
  display: flex;
  justify-content: center;
}

.row {
  flex-direction: row;
}

/* Some Rows */
.parallax {
  /* background-image: url('/img/endless-constellation.svg'); */
  background-image: url('/img/mesh/4.svg');
  height: 100% !important; 
  width: 100%;
  background-attachment: fixed;
  background-position: center;
    background-repeat: repeat;
    background-size: 25%;
  --webkit-background-origin: border;
  /* background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 2.5px ); */
  /* -webkit-backdrop-filter: blur( 2.5px ); */
  /* border-radius: 10px; */
}
/* All Rows */

/* Article 1 */
#article1 {
  width: 100%;
  margin: 0 auto;

}

#intro {
  width: 80%;
  max-width: 30em;
  height: fit-content;
  color: white;
  background-color: rgba(36, 10, 52, 0.75);
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 8em auto 10em auto;
  padding: 1em 0 2em 0 ;
  border: 2px solid white;
  border-radius: 25px;
  --webkit-animation: slide-in-blurred-top 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  background-size: 50px;
}

#intro .left, #intro .right {
  padding: 0 2rem;
  width: fit-content;
  margin: 0 auto;
}

#intro .right p, #intro .right a {
  margin: 1em auto 2em auto;
  text-align: center;

}

.profilePhoto  {
  width: 90%;
  height: auto;
  border-radius: 60%;
  /* clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%); */
}

#quote * {
  font-family: Arial, Helvetica, sans-serif;
}

#quote .author {
  font-weight: 500;
  font-style: revert-layer;;
}

.quoteText {
  display: flex;
  font-style: italic;
  align-items: baseline;
  justify-content: space-evenly;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}

.quoteText img {
  width: 1em;
  filter: invert(1);
}

.quoteText span {
  width: 75%;
}

p.author {
  margin: 1em !important;
}

#article1 hr {
  width: 50%;
}
/* Article 2 */

#article2 {
  background: rgb(34,34,34);
background: radial-gradient(circle, rgba(34,34,34,1) 0%, rgba(137,22,82,1) 66%);
}

#article2 h1:first-child {
  color: white !important;
  text-align: center;
  margin: 1em;
  text-decoration: underline;
}


.itemProject >  *{
  /* background-color: white; */
  display: flex;
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  margin: 0.25em auto;
  padding: 0.25em;
  /* backdrop-filter: blur( 2px );
  box-shadow: none; */
  /* background: rgba( 224,224, 224, 0.5 ); */
  /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
  /* backdrop-filter: blur( 8px );
  -webkit-backdrop-filter: blur( 8px ); */
  border-radius: 10px;
  /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
  
  /* -webkit-backdrop-filter: blur( 2px ); */
  /* border-radius: 10px; */
}
#projects {
  display: grid;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(90%, 1fr));
}

#projects .right {
  width: 90%;
  margin: 0 auto;
}

#projects *  {
  color: white !important;
}

.projectInfo, .projectLinks {
  width: 100%;
}

#projects > * {
  width: 90%;
  height: -webkit-fill-available;
  margin: 0.75em auto;
  box-sizing: content-box;
  background: rgba(224, 224, 224, 0.2);
  box-shadow: 0 20px 50px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  padding: 0.5em;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 25px;
}

#projects img {
  width: 100%;
  height: auto;
  border: 1px solid purple
}

#projects h2 {
  text-align: center;
  text-decoration: underline;
  margin-block-start: 0em;
    margin-block-end: 0em;
}

.projectLinks {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: center;
}

.projectLinks a {
  margin: 0.5em auto;
  text-align: center;
  font-size: smaller;
  height: auto;
  width: 90%;
}

.seeMore {
  margin: 1em auto 2em auto !important;
  /* background-color: white !important; */
  color: black;
  height: auto;
  width: 40vw;
  text-align: center;
  /* height: 1em; */
  background: rgba( 255, 255, 255, 0.4 );
  box-shadow: 0 8px 32px 0 rgba( 255, 255, 255, 0.37 );
  backdrop-filter: blur( 15px );
  -webkit-backdrop-filter: blur( 15px );
  border-radius: 10px;
  border: 3px solid rgba( 255, 255, 255, 0.4 );
  font-size: x-large;
  text-transform: uppercase;
}

/* Article 3 */
#article3 {
  
  color: white;
}

#article3 h2:first-child {
  text-align: center
}

.heading {
  margin: 0 0 1em 0;
  text-align: center;
  text-decoration: underline;
}

#article3content {
  background-color: black;
  padding: 2em;
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 9px );
  -webkit-backdrop-filter: blur( 9px );
  border-radius: 10px;
}

#article3content > p {
  font-size: large !important;
  text-align: justify;
}

#article3content * {
  color: black;
}

#article3content strong {
  color: black !important; 
}

.logoContainer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 0.5em 1em;
  /* align-content: center; */
  align-items: center;
}

.logoContainer img {
  width: 50px;
  height: auto;
  justify-content: center;
  background-color: darkgray;
  padding: 0.25em;
  height: 3em;
  border-radius: 10px;
}

.qualifications {
  width: 150px !important;
  height: auto !important;
}

iframe + h2 {
  width: 10em;
  padding: 0;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}


.logoDiv {
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-around;
  display: grid;
  grid-template-columns:  repeat(auto-fit, minmax(15%, 4fr));
  display: flex;
  align-content: center;
  flex-direction: row;
  align-items: center;
}

#osLogos {
  justify-content: center;
  grid-gap: 6em;
}

/* Article 4 */
h3, input[type=submit] {
  text-align: center;
}

.contactLinks {
  display: grid;
  margin: 0.25 auto;
  grid-template-columns: repeat(auto-fit, minmax(20em, 2fr));
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  /* width: 80%; */
}

.contactLinks a {
  text-decoration: none;
  color: black;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0.5em;
}

#article4 .contactLinks img {
  filter: invert(100%);
}

.contactLinks a img {
  background-color: black;
  height: 2em;
  padding: 0.25em;
  width: 2em;

}

.contactLinks li {
  color: black;
} 

#contactForm h3 {
  font-size: larger;
}

#contactForm, form {
  margin: 0 auto 1em auto;
  width: 90%;
}

#formContent {
  width: 100%;
}

form {
  width: 90%;
  display: flex;
  flex-direction: column;
}

form > div {
  margin: 0 auto;
  width: 90%;
  display: grid;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  grid-template-columns: 1fr 3fr;
  font-size: 1.5rem;
}

form div label {
  max-width: fit-content;
}

label,input, textarea {
  min-width: 40%;
  margin: 1em 0 0.5em 0.25em;
  font-size: 1.25rem;
}

input, textarea {
  padding: 0.5em;
  border: 2px solid darkslategray;
}

textarea {
  height: 15em;
}

input:focus, textarea:focus {
  border: 5px solid #891652;
  background-color: lightcyan;
  color: #000;
  padding: 0.5em;
}

input[type=submit] {
  padding: 0.5em;
  width: 40%;
  margin: 2em 30% 0 30%;
  background-color: #891652;
  color: #fff;
  border-radius: 10px;
}

input[type=submit]:hover {
  background-color: #EABDD8;
  color: #240a34;
  --webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
  border: 1px solid #000;
}
a:hover {
  --webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}


#contactMethod {
  width: 80%;
  max-width: 800px;
}

.contactLinks li {
  list-style: none;
  height: auto;
  margin: 0.5em 0;
  box-sizing: content-box;
  column-gap: 0.5em;
  row-gap: 0.5em;
}

.contactLinks li a { 
  display: flex !important; 
  justify-content: space-between;
  margin: 0.5em;
  margin: 0.5em;
  padding: 0 1em;
  border: 1px solid darkslategray;
  border-radius: 25px;
  box-sizing: border-box;
}

.contactLinks li a:hover {
  background-color: #891652;
  color: white;
}

.contactLinks li a:hover img::after {

  filter: invert(1);
}

#messageSent {
  height: fit-content;
  width: 100%;
  text-align: center;
  border-radius: 15px;
  background-color: lightgreen;
  color: #000;
  padding: 10px;
}

.contactLinks li span {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#formRight, #formLeft {
  flex-direction: column;
}


@media screen and (min-width: 760px) {
  #projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 2fr)) !important;
  }

  #container  {
    display: flexbox !important;
    max-width: 100% !important;
    flex-direction: row !important;
    flex-grow: inherit !important;
    flex-grow: initial;
    flex-wrap: wrap;
  }

  #contentRow {
    max-width: 900px !important;

  }

  #contentRow > * {
    max-width: 900px !important;
  }

  #article3content {
    max-width: 900px !important;
  }

  .contactLinks li {
    margin: 0.5em 1em;
  }


  #container .left, #container .right{
      width: 90%;
  }
}

@media screen and (min-width: 1280px) {
  #projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 4fr)) !important;
  }

  #projects, form {
    max-width: 1280px !important;
  }
  #contentRow {
    max-width: 1400px !important;

  }

  .contactLinks li {
    margin: 0.5em 1em;
  }

  #contentRow > * {
    max-width: 1400px !important;
  }

  #article3content {
    max-width: 1400px !important;
  }

  .parallax {
    background-attachment: scroll;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-12-16 10:38:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- *

 *
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
 @-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
